@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@theme {
  --color-darkred: #d42525;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}
*{
  font-family: "Roboto Condensed", sans-serif;
}
.Card{
  display: flex;
  justify-content: center;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .Nav{
    
    display: flex;
    justify-self: center;
    gap: 50px;
   
    
  }
  
  .mCard{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
   cursor: pointer;

  }
  .Card{
    width: 300px;
    padding: 100px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    background-color: #fff;
    position: relative;
    min-height:200px;

  }
  .Card-info{
    display: flex;
    flex-direction: column;

  }

  .Nav button{
      width: auto;
      font-size: 15px;
      padding: 10px 30px;
      margin: 20px 20px;
      cursor: pointer;
      background-color: #d42525;
       padding: 10px 30px;
    border-radius: 20px;
     color: white;
  }
  .dot{
    width: 30px;
    cursor: pointer;
  }
  .Dbutton{
     background-color: white;
     border: none;
     position: absolute;
     top: 10px;
     right: 10px;
     
  }
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
