@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Roboto Condensed", sans-serif;
}
.Card{
  display: flex;
  justify-content: center;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #d42525;
    display: flex;
    justify-self: center;
    padding: 5px 30px;
    border-radius: 20px;
    color: white;
    
  }
  button p{
    font-size: 15px;

  }
}
